* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-weight: 300; /* Lighter font-weight for a minimalist style */
}

body {
  padding-top: 4rem; /* Adjust this value to match the height of your header */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-weight: 300; /* Lighter font-weight for a minimalist style */
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #262626;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  z-index: 1000;
}

.nav {
  display: flex;
  align-items: center;
}

.approve-tokens {
  background-color: #f7931a;
  border: none;
  padding: 0.5rem 1rem;
  color: #000;
  font-size: 1rem;
  cursor: pointer;
  margin-left: 1rem; /* Add space between the buttons */
  transition: background-color 0.3s ease;
  border-radius: 50px; /* Add this line to create an oval shape */
}

.approve-tokens:hover {
  background-color: #e68219;
}

/* ... */

.connect-wallet {
  background-color: #1a9bf7;
  border: none;
  padding: 0.5rem 1rem;
  color: #000;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 50px; /* Add this line to create an oval shape */
}

.connect-wallet:hover {
  background-color: #1a9bf7;
}
/* ... */

.hero-content button {
  background-color: #f7931a;
  border: none;
  border-radius: 0; /* Make the button rectangular */
  padding: 0.75rem 1.5rem;
  font-size: 1.25rem;
  color: white;
  cursor: pointer;
}

.logo {
  color: white;
  font-size: 1.5rem;
}

.nav-links {
  list-style-type: none;
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.nav-links a {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #fdd835;
}

.nav-item {
  position: relative;
}

.dropdown-toggle {
  cursor: pointer;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #262626;
  border-radius: 5px;
  padding: 0.5rem 0;
  z-index: 10;
}

.dropdown-menu a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  color: white;
  text-decoration: none;
}

.dropdown-menu a:hover {
  background-color: #f7931a;
}

.nav-item:hover .dropdown-menu {
  display: block;
}

.dropdown-item i {
  font-size: 1.25rem;
}

.connect-wallet {
  background-color: #f7931a;
  border: none;
  padding: 0.5rem 1rem;
  color: #000;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.connect-wallet:hover {
  background-color: #e68219;
}


.hero-content {
  text-align: center;
  color: white;
}

.hero-content h1 {
  font-size: 2.0rem;
  margin-bottom: 1rem;
}

.hero-content p {
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
}

.hero-content button {
  background-color: #1aa2f7;
  border: none;
  border-radius: 50px; /* Add this line to create an oval shape */
  padding: 0.75rem 1.5rem;
  font-size: 1.25rem;
  color: white;
  cursor: pointer;
}

.crypto-prices {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Change from 'left' to 'flex-start' */
  padding: 1.5rem; /* Increase padding for better spacing */
  background-color: #f8f8f8; /* Change to a subtle, light gray color */
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 2rem 0; /* Increase margin for better positioning */
}

.crypto-price {
  display: flex;
  align-items: center; /* Change from 'left' to 'center' */
  margin: 0.5rem 0; /* Add top and bottom margin */
  width: 100%;
  justify-content: flex-start; /* Change from 'left' to 'flex-start' */
}

#crypto-prices {
  background-color: #f8f8f8;
  padding: 20px;
}

.crypto-price {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.crypto-logo {
  height: 40px;
  margin-right: 10px;
}

.crypto-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

.crypto-symbol {
  font-weight: bold;
  margin-right: 10px;
}

.crypto-change {
  margin-left: 10px;
  font-size: 14px;
}

#btc-1h, #eth-1h, #usdt-1h {
  color: green;
}

#btc-24h, #eth-24h, #usdt-24h {
  color: red;
}

#btc-7d, #eth-7d, #usdt-7d {
  color: green;
}



.crypto-logo {
  width: 40px;
  height: 40px;
  margin-right: 0.5rem;
}

.crypto-info {
  display: flex;
  flex-wrap: wrap;
  align-items: left;
  justify-content: left;
}

.crypto-symbol {
  font-weight: 500;
  font-size: 1.2rem;
  margin-right: 0.5rem;
}

.crypto-prices span {
  font-size: 1.2rem;
}

.crypto-change {
  margin: 0 0.5rem;
}

.crypto-change.up {
  color: green;
}

.crypto-change.down {
  color: red;
}

.services {
  background-color: #f6f6f6;
  padding: 2rem 0;
  text-align: center;
}

.services h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.services p {
  font-size: 1.25rem;
  margin-bottom: 2rem;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.service {
  width: calc(33.33% - 2rem);
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 2rem;
  text-align: center;
}

.service h3 {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: #f7931a;
}

.service h4 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #262626;
}

.service p {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.about {
  padding: 2rem 0;
  text-align: center;
}

.about h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.about p {
  font-size: 1.25rem;
  margin-bottom: 2rem;
}

.how-it-works {
  background-color: #f6f6f6;
  padding: 2rem 0;
  text-align: center;
}

.how-it-works h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.how-it-works p {
  font-size: 1.25rem;
  margin-bottom: 2rem;
}

.start-mining {
  padding: 2rem 0;
  text-align: center;
}

.start-mining h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.start-mining p {
  font-size: 1.25rem;
  margin-bottom: 2rem;
}

.start-mining button {
  background-color: #f7931a;
  border: none;
  border-radius: 5px;
  padding: 0.75rem 1.5rem;
  font-size: 1.25rem;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.start-mining button:hover {
  background-color: #19e66b;
}

.footer {
  background-color: #262626;
  color: white;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-links a {
  text-decoration: none;
  color: white;
  margin-right: 1.5rem;
}

.footer-contact h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.footer-contact p {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}


@keyframes floating {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.floating-image {
  width: 500px; /* Adjust the width as needed */
  animation: floating 3s ease-in-out infinite;
}

.liquidity-pool-image
{
  width: 500px; /* Adjust the width as needed */
  animation: floating 3s ease-in-out infinite;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url('https://external-preview.redd.it/NGd7yDAh1iRTZ-etDs1mv7gNLm36qpq3KTPDSCN-kx4.jpg?width=640&crop=smart&auto=webp&s=6a2f5158e4a92a71a11592d6f2e91c67c77bb6a3');
  background-size: cover;
  background-position: center;
  animation: animatedBackground 30s linear infinite;
}

@keyframes glow {
  0% {
    filter: brightness(1);
  }
  50% {
    filter: brightness(1.2);
  }
  100% {
    filter: brightness(1);
  }
}

.hero:before {
  content: "";
  position: absolute;
  top: -20px;
  right: -20px;
  bottom: -20px;
  left: -20px;
  background-color: #00ff44;
  opacity: 0.2;
  border-radius: 20px;
  animation: glow 5s ease-in-out infinite;
  z-index: -1;
}


.hero-content {
  text-align: center;
  color: white;
  flex-basis: 50%; /* Add this line to set a width for the content */
}

/* ... */


/* Add this media query to the bottom of your existing CSS file */
@media screen and (max-width: 767px) {
  .services-list {
    flex-direction: column;
    align-items: center;
  }

  .service {
    width: 100%;
    max-width: 90%; /* Limit the width to 90% of the screen */
    margin-bottom: 2rem; /* Add some margin between the service items */
  }

  .service h4 {
    font-size: 1.25rem;
  }

  .service p {
    font-size: 1rem;
  }
}

/* Add this to your CSS file */
.get-started-link {
  text-decoration: none;
  display: inline-block;
}

.liquidity-pool {
  background-color: rgba(2, 2, 2, 0.955); /* dark blue with opacity */
  padding: 50px;
  text-align: center;
}

.liquidity-pool,
.liquidity-pool p,
.liquidity-pool button {
  color: #fff; /* white color */
}


.liquidity-pool h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.liquidity-pool-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.liquidity-pool-image {
  width: 100%;
  max-width: 600px;
  margin-bottom: 20px;
}

.start-mining-btn {
  padding: 10px 20px;
  background-color: #db9e34;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 500;
  transition: background-color 0.2s ease;
}

.start-mining-btn:hover {
  background-color: #b9a329;
}

.earnings {
  margin-top: 20px;
}

.earning-text {
  font-size: 1.1rem;
  margin: 5px 0;
}

.earning-value {
  font-weight: 500;
  color: #fff; /* white color */
}


.digital-graph {
  position: relative;
  background-image: url('https://i.pinimg.com/originals/2e/e6/99/2ee6998e34c3e2eff7b894c66cfc5267.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px; /* Adjust the height according to the desired size */
}

.digital-graph-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Change the color and opacity as desired */
}

.start-earning {
  text-align: center;
  padding: 60px 0;
}

.start-earning h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.start-earning p {
  font-size: 1.1rem;
  margin-bottom: 30px;
}

.start-earning .get-started-link button {
  padding: 12px 40px;
  background-color: #db9034;
  color: #fff;
  border: none;
  border-radius: 30px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.start-earning .get-started-link button:hover {
  background-color: #b99029;
}

@media (max-width: 767px) {
  .start-earning h2 {
    font-size: 1.5rem;
  }

  .start-earning p {
    font-size: 1rem;
    margin-bottom: 20px;
  }

  .start-earning .get-started-link button {
    padding: 10px 30px;
    font-size: 1rem;
  }
}

footer {
  background-color: #262626;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.footer-links {
  display: flex;
  gap: 1.5rem;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  transition: color 0.2s ease-in-out;
}

.footer-links a:hover {
  color: #f4b400;
}

.footer-contact {
  margin-top: 2rem;
  text-align: center;
}

.footer-contact h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.footer-contact p {
  font-size: 1.2rem;
  margin: 0.5rem 0;
}

.footer-contact p:first-of-type {
  font-weight: bold;
}

@media (max-width: 600px) {
  .hero-content {
    text-align: center;
  }

  .floating-image {
    display: none;
  }
}